.app__main {
  /* position: absolute; */
  /* width: 100%; */
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100vh; */
  /* align-items: center; */
  background-color: #000;
}

.mainPage__fridge {
  margin: 10px 10px;
  /* height: 100%; */
  /* width: 100%; */
}

.mainPage__recipes {
  margin: 10px 10px;
  /* height: 100%; */
  /* width: 100%; */
}

.mainPage__shoppingList {
  margin: 10px 10px;
  /* height: 100%; */
  /* width: 100%; */
}
