.mainPage {
  height: 100%;
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
}

.mainPage__fridge {
  margin: 10px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #2d2d2d;
}

.mainPage__recipes {
  margin: 10px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #2d2d2d;
}

.mainPage__shoppingList {
  margin: 10px 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #2d2d2d;
}
