.searchRecipe__checkboxList {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  padding: 10px 10px;
  color: #fff;
  background-color: #2d2d2d;
}

.searchRecipe__header {
  margin: 0px 5px;
  padding: 20px 0px;
  text-align: center;
  color: #fff;
}

.searchRecipe__footer {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  padding: 10px 10px;
  background-color: #2d2d2d;
}
