.fridgePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px 8px;
}

.fridgePage__header {
  height: 70px;
  margin: 5px 0px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  background-color: #2d2d2d;
}

.fridgeInput {
  height: 100px;
  padding: 10px 10px;
  margin: 5px 0px;
  font-size: 18px;
  color: #fff;
  background-color: #2d2d2d;
}

.fridgeInputForm {
  display: flex;
  flex-direction: column;
}

.fridgeInputForm__label {
  padding: 5px 0px;
}

.fridgeInputForm--verticalAlign {
  display: flex;
}

.fridgeInputForm__input {
  width: 100%;
}

.fridgeInputForm__button {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  background-color: red;
  border: none;
  font-size: 30px;
}

.fridgeList {
  flex: 1;
  overflow: auto;
}

.foodItem {
  min-height: 80px;
  margin: 5px 0px;
  background-color: #2d2d2d;
}
