/* .fridgePage {
  background-color: #000;
} */

.fridgePage {
  background-color: #000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: auto;
  /* display: grid; */
}

.fridgePage__header {
  margin: 0px 5px;
  padding: 20px 0px;
  text-align: center;
  color: #fff;
}

.fridgeInputForm {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  padding: 10px 10px;
  min-height: 90px;
  background-color: #2d2d2d;
  color: #fff;
}

.fridgeInputForm__label {
  margin: 5px 0px;
  font-size: 25px;
}

.fridgeInputForm--verticalAlign {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
}

.fridgeInputForm__input {
  display: flex;
  flex: 1;
}

.fridgeInputForm__button {
  width: 50px;
  height: 50px;
}

/* .fridgeList {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  color: #fff;
} */
.fridgeList {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  color: #fff;
  position: relative;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.foodItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  min-height: 70px;
  background-color: #2d2d2d;
  margin: 3px 0px;
}

.foodItem__text {
  margin: 5px 5px;
  font-size: 25px;
}

.foodItem__remove--button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
