.savedRecipes {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px 8px;
}

.savedRecipes__header {
  height: 70px;
  margin: 5px 0px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  background-color: #2d2d2d;
}

.savedRecipeList {
  flex: 1;
  overflow: auto;
}

.savedRecipe {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: 5px 0px;
  background-color: #2d2d2d;
}
