.app__navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #fff;
  background-color: #000;
}

.navbar__header {
  display: flex;
  color: #fff;
  align-items: center;
}

.navbar__home--icon {
  font-size: 35px !important;
  color: #fff;
}

.navbar__header--logo {
  height: 35px;
  width: 35px;
  margin: 0px 3px;
}

.navbar__header--name {
  margin: 0px 3px;
}

.navbar__theme {
  visibility: hidden;
}
