footer.app__footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 10px 10px;
  border-top: 1px solid #fff;
  background-color: #000;
}

.footer__fridge {
  text-align: center;
  color: #fff;
}

.footer__recipes {
  text-align: center;
  color: #fff;
}

.footer__shoppingList {
  text-align: center;
  color: #fff;
}

/* .shoppingListCounter {
  background-color: red;
  font-size: 4px;
  color: white;
  width: auto;
  height: 20px;
} */
