* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.app__main {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #000;
}
